.table{
    margin-top: 50px;
}
.all-theater{
    text-align: center;
}
/*==cột #lis1==*/
#list1 {
    width: 250px;
    height: auto;
  }
  
  /*==cột #list2==*/
#list2 {
    width: 250px;
    height: auto;
}
  /*==cột #lis3==*/
#list3 {
    width: 250px;
    height: auto;
}