<div class="container">
  <div class="row">
    <div class="col" *ngFor="let eachMovie of movies">
      <div class="card" style="width: 240px; margin-top: 10px;">
        <img src="{{ eachMovie.image }}" class="card-img-top" alt="movie.image" />
        <div class="card-body" style="font-size: 0.85rem">
          <h6 class="card-title">{{ eachMovie.name }}</h6>
          <p class="card-text">{{ eachMovie.description }}</p>
          <a href="#" class="btn btn-primary">Đặt vé</a>
        </div>
      </div>
    </div>
  </div>
</div>
