.seat{
    padding-left: 9.1cm;
    padding-top: 2cm;
}
.seat1{
    padding-left: 9.1cm;
    padding-bottom: 2cm
}
.box{
    width: 1000px;
    border-style: solid;
    margin: 50px 0px 0px 300px;
}
.title_box{
    width: 100%;
    border-style: solid;
    background-color: pink;
    padding-left: 450px;
    padding-top: 20px;
    margin: 20px 0px 0px 0px;
}
.title_book{
    width: 100%;
    border-style: solid;
    background-color: black;
    color: white;
    padding-left: 450px;
    padding-top: -100px;
}