
<!-- <div>
  <div class="seat">k1</div>
  <div class="seat">k2</div>
  <div class="seat">k3</div>
  <div class="seat">k4</div>
  <div class="seat">k5</div>
  <div class="seat">k6</div>
  <div class="seat">k7</div>
  <div class="seat">k8</div>
  <div class="seat">k9</div>
  <div class="seat">k10</div>
</div> -->
<div class="box">
  <div class="title_book">
    <p><b>BOOKING</b></p>
  </div>
  <div>
      <p><b>Tên rạp</b></p>
    </div>
  <div class="title_box">
    <p>1 Người / 1 Ghế</p>
  </div>
  <div class="seat">
    <table style="border:chartreuse" cellspacing="100px" border="2px" cellpadding="5px" >
      <tr> 
        <th>a1</th>
        <th>a2</th>
        <th>a3</th>
        <th>a4</th>
        <th>a5</th>
        <th>a6</th>
        <th>a7</th>
        <th>a8</th>
        <th>a9</th>
        <th>a10</th>
      </tr>
      
      <tr>
        <th>b</th>
        <th>b</th>
        <th>b</th>
        <th>b</th>
        <th>b</th>
        <th>b</th>
        <th>b</th>
        <th>b</th>
        <th>b</th>
        <th>b</th>
      </tr>
      <tr> 
        <th>c</th>
        <th>c</th>
        <th>c</th>
        <th>c</th>
        <th>c</th>
        <th>c</th>
        <th>c</th>
        <th>c</th>
        <th>c</th>
        <th>c</th>
      </tr>
      <tr> 
        <th>d</th>
        <th>d</th>
        <th>d</th>
        <th>d</th>
        <th>d</th>
        <th>d</th>
        <th>d</th>
        <th>d</th>
        <th>d</th>
        <th>d</th>
      </tr>
      <tr> 
        <th>e</th>
        <th>e</th>
        <th>e</th>
        <th>e</th>
        <th>e</th>
        <th>e</th>
        <th>e</th>
        <th>e</th>
        <th>e</th>
        <th>e</th>
      </tr>
    </table>  
  </div>
  <hr style="width: 280px">
  <div class="seat1">
    <table style="border:red" cellspacing="100px" border="2px" cellpadding="5px" >
      <tr> 
        <th>a1</th>
        <th>a2</th>
        <th>a3</th>
        <th>a4</th>
        <th>a5</th>
        <th>a6</th>
        <th>a7</th>
        <th>a8</th>
        <th>a9</th>
        <th>a10</th>
      </tr>
      <tr>
        <th>b</th>
        <th>b</th>
        <th>b</th>
        <th>b</th>
        <th>b</th>
        <th>b</th>
        <th>b</th>
        <th>b</th>
        <th>b</th>
        <th>b</th>
      </tr>
      <tr> 
        <th>c</th>
        <th>c</th>
        <th>c</th>
        <th>c</th>
        <th>c</th>
        <th>c</th>
        <th>c</th>
        <th>c</th>
        <th>c</th>
        <th>c</th>
      </tr>
      <tr> 
        <th>d</th>
        <th>d</th>
        <th>d</th>
        <th>d</th>
        <th>d</th>
        <th>d</th>
        <th>d</th>
        <th>d</th>
        <th>d</th>
        <th>d</th>
      </tr>
      <tr> 
        <th>e</th>
        <th>e</th>
        <th>e</th>
        <th>e</th>
        <th>e</th>
        <th>e</th>
        <th>e</th>
        <th>e</th>
        <th>e</th>
        <th>e</th>
      </tr>
    </table>
  </div>
</div>


