<div class="row" style="padding-left: 4cm">
    <h1 >Nội dung phim</h1>
    <hr size="5px" width="80%" color="red" /> 
    <div class="card-deck" >
        <!-- Card -->
        <div style="height: 20%">
            <mdb-card>
                <div class="view overlay waves-light" mdbWavesEffect>
                  <!-- Card img -->
                  <mdb-card-img src="https://mdbootstrap.com/img/Photos/Others/images/16.jpg" alt="Card image cap"></mdb-card-img>
                  <a>
                    <div class="mask rgba-white-slight"></div>
                  </a>
                </div>
                <!--Card content-->
                <mdb-card-body>
                  <!--Title-->
                  <mdb-card-title>
                    <h4>Tên phim</h4>
                  </mdb-card-title>
            
                  <!--Text-->
                  <mdb-card-text> Nội dung.
                  </mdb-card-text>
            
                  <a href="#" mdbBtn color="primary" mdbWavesEffect>Đặt vé</a>
                </mdb-card-body>
              </mdb-card>  
        </div>
        
        <ul>
          <ol><h4><b>Đạo diễn</b>:</h4><i>Nguyễn Văn Lan</i></ol>
          <ol><h4><b>Diễn viên</b>:</h4><i>VIệt Hương</i></ol>
          <ol><h4><b>Thể loại</b>:</h4><i>Hành động, tình cảm</i></ol>
          <ol><h4><b>Khởi chiếu</b>:</h4><i>10/12/2018</i></ol>
          <ol><h4><b>Thời lượng</b>:</h4><i>108</i></ol>
          <ol><h4><b>Ngôn ngữ</b>:</h4><i>Tiếng Việt với phụ đề Tiếng Anh</i></ol>
          <ol><h4><b>Rated</b>:</h4><i>C16 - PHIM CẤM KHÁN GIẢ DƯỚI 8 TUỔI</i></ol>
        </ul>
      </div>
<!-- Collapse   -->
<!-- END Collapse   -->
      <div class="trailer">
          <div style="padding-left: 10cm">
              <button mdbBtn type="button" gradient="peach" size="lg" mdbWavesEffect>Trailer</button>
          </div>
          <div style="padding-left: 8cm">
              <iframe width="560" height="315" 
                src="https://www.youtube.com/embed/jWBtw7q8HvY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
              </iframe>
          </div>
      </div>

</div>
