<div class="goldclass">
  <h1>Phòng chiếu gold class</h1>
  <p>Lấy cảm hứng từ ghế ngồi hạng thương gia trên máy bay, phòng chiếu GOLD CLASS ra đời 
    mang đến một không gian xem phim sang trọng và đẳng cấp cho các tín đồ điện ảnh. 
    GOLD CLASS còn là lựa chọn hoàn hảo cho các sự kiện đặc biệt để tạo nên những kỷ niệm tuyệt vời, 
    khó quên. Cùng trải nghiệm phòng chiếu GOLD CLASS tại các rạp:</p>
    <ol>
      <li>CGV A A </li>
      <li>CGV B</li>
      <li>CGV</li>
      <li>CGV</li>
      <li>CGV</li>
      <li>CGV</li>
      <li>CGV</li>
      <li>CGV</li>
      <li>CGV</li>
      <li>CGV</li>

    </ol>
</div>
<div class="slide_goldclass">
    <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
        <mdb-carousel-item>
          <img class="d-block w-100" src="../../assets/images/goldcinema1.png" alt="First slide">
        </mdb-carousel-item>
        <mdb-carousel-item>
          <img class="d-block w-100" src="../../assets/images/goldcinema2.png" alt="Second slide">
        </mdb-carousel-item>
        <mdb-carousel-item>
          <img class="d-block w-100" src="../../assets/images/goldcinema3.png" alt="Third slide">
        </mdb-carousel-item>
        <mdb-carousel-item>
            <img class="d-block w-100" src="../../assets/images/goldcinema4.png" alt="Four slide">
        </mdb-carousel-item>
      </mdb-carousel>
</div>
