
<!--Main wrapper-->
<div class="all">
  <div class="row">
      <!--First row-->
      <div class="title">
        <h1>Tài khoản Booking</h1>
        <hr>
      </div>
      <!--Image column-->
      <div class="image col-sm-2 col-12">
          <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-1.jpg">
      </div>
      <!--/.Image column-->
      <!--Content column-->
      <div id="content" class="container col-sm-10 col-12">
          <a><h2 class="user-name">John Doe</h2></a>
          <hr/>
          <div id="post">
            <h5><b>Ngày sinh :</b></h5> <p>phucap@gmail.com</p>
            <h5><b>Địa chỉ email :</b></h5> <p>phucap@gmail.com</p>
            <h5><b>Giới tính :</b></h5> <p>phucap@gmail.com</p>
          </div>
          <div id ="sidebar">
            <h5><b>Điện thoại :</b></h5><p>phucap@gmail.com</p>
            <h5><b>Tên đăng nhập :</b></h5> <p>phucap@gmail.com</p>
            <h5><b>Thành phố :</b></h5> <input type="text" name="city" value="Hồ Chí Minh"><br>
            <h5><b>Quận :</b></h5> <input type="text" name="district" value="Quận 7"><br>
          </div>
          <div id="score">
              <h5><b>Điểm thưởng :</b></h5> <p>50</p>
            </div>
      </div>
      <!--/.Content column-->
  </div>
  <!--/.First row-->
</div>
<!--/.Main wrapper-->
