<div class="container">
  <div class="row">
      <!--List film-->
    <div class="view overlay zoom" >
        <img src="../../assets/images/matvugiaicuu.jpg" class="img-fluid " alt="smaple image">
        <div class="mask flex-center">
            <button mdbBtn type="button" gradient="purple" rounded="true" mdbWavesEffect>Đặt vé</button>
        </div>
    </div>
    <div class="view overlay zoom">
        <img src="../../assets/images/aquaman.jpg" class="img-fluid " alt="smaple image">
        <div class="mask flex-center">
            <button mdbBtn type="button" gradient="purple" rounded="true" mdbWavesEffect>Đặt vé</button>
        </div>
    </div>
    <div class="view overlay zoom">
        <img src="../../assets/images/nguoibang2.jpg" class="img-fluid " alt="smaple image">
        <div class="mask flex-center">
            <button mdbBtn type="button" gradient="peach" rounded="true" mdbWavesEffect>Đặt vé</button>
        </div>
    </div>
    <div class="view overlay zoom">
        <img src="../../assets/images/nguoibang2.jpg" class="img-fluid " alt="smaple image">
        <div class="mask flex-center">
            <button mdbBtn type="button" gradient="purple" rounded="true" mdbWavesEffect>Đặt vé</button>
        </div>
    </div>
    <div class="view overlay zoom">
        <img src="../../assets/images/nguoinhen.jpg" class="img-fluid " alt="smaple image">
        <div class="mask flex-center">
            <button mdbBtn type="button" gradient="peach" rounded="true" mdbWavesEffect>Đặt vé</button>
        </div>
    </div>
    <div class="view overlay zoom">
        <img src="../../assets/images/gaigialamchieu.jpg" class="img-fluid " alt="smaple image">
        <div class="mask flex-center">
            <button mdbBtn type="button" gradient="purple" rounded="true" mdbWavesEffect>Đặt vé</button>
        </div>
    </div>
  </div>
  
</div>
