<!-- Slide start -->
<mdb-carousel class="carousel slide carousel-fade" [type]="'carousel-thumbnails'" [animation]="'fade'">
  <mdb-carousel-item>
    <img class="d-block w-100" src="../assets/images/slide1.jpg" alt="First slide">
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img class="d-block w-100" src="../assets/images/slide2.jpg" alt="Second slide">
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img class="d-block w-100" src="../assets/images/slide3.jpg" alt="Third slide">
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img class="d-block w-100" src="../assets/images/slide4.jpg" alt="Four slide">
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img class="d-block w-100" src="../assets/images/slide5.jpg" alt="Fith slide">
  </mdb-carousel-item>
</mdb-carousel>
<!-- Slide end -->

<!-- Slider list film start -->
<app-slider></app-slider>
<!-- Slider list film end-->

<div class="animated slideInRight ">
<!-- Card -->
<div class="card card-image mb-3" style="background-image: url(../assets/images/aquaman.jpg); width: 25%; float: left;">

  <!-- Content -->
    <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
      <div>
        <h5 class="pink-text"><i class="fa fa-pie-chart"></i>Phim thang 12</h5>
        <h3 class="card-title pt-2"><strong>Aquaman</strong></h3>
        <p>Aquaman - Vi than Aquaman!.</p>
        <a mdbBtn color="green" class="waves-light" mdbWavesEffect><i class="fa fa-clone left"></i>Trailer</a>
      </div>
    </div>
  <!-- Content -->
  </div>
  <!-- Card -->
  
  <!-- Card -->
  <div class="card card-image mb-3" style="background-image: url('../assets/images/gaigialamchieu.jpg');width: 25%; float: left;">
  
  <!-- Content -->
    <div class="text-white text-center d-flex align-items-center rgba-indigo-strong py-5 px-4">
      <div>
        <h5 class="orange-text"><i class="fa fa-desktop"></i>Phim tháng 12</h5>
        <h3 class="card-title pt-2"><strong>Gái già lắm chiêu</strong></h3>
        <p>Bộ phim gái già lắm chiêu!.</p>
        <a mdbBtn color="deep-orange" class="waves-light" mdbWavesEffect><i class="fa fa-clone left"></i>Trailer</a>
      </div>
    </div>
  <!-- Content -->
  </div>
  <!-- Card -->
  
  <!-- Card -->
  <div class="card card-image mb-3" style="background-image: url(../assets/images/matvugiaicuu.jpg); width: 25%; float: left;">
  
  <!-- Content -->
    <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
      <div>
        <h5 class="pink-text"><i class="fa fa-pie-chart"></i>Phim thang 12</h5>
        <h3 class="card-title pt-2"><strong>Mật vụ giải cứu</strong></h3>
        <p>Mật vụ giải cứu - Điệp viên!.</p>
        <a mdbBtn color="green" class="waves-light" mdbWavesEffect><i class="fa fa-clone left"></i>Trailer</a>
      </div>
    </div>
  <!-- Content -->
  </div>
  <!-- Card -->
  
  <!-- Card -->
  <div class="card card-image mb-3" style="background-image: url('../assets/images/comaytuthan.jpg');width: 25%; float: left;">
  
  <!-- Content -->
    <div class="text-white text-center d-flex align-items-center rgba-indigo-strong py-5 px-4">
      <div>
        <h5 class="orange-text"><i class="fa fa-desktop"></i> Phim thang 12</h5>
        <h3 class="card-title pt-2"><strong>Cổ máy tử thần</strong></h3>
        <p>Cổ máy tử thần!.</p>
        <a mdbBtn color="deep-orange" class="waves-light"  mdbWavesEffect><i class="fa fa-clone left"></i>Trailer</a>
      </div>
    </div>
  <!-- Content -->
  </div>
  <!-- Card -->
</div>

<!-- List Film -->
<!-- <film></film> -->
<!-- End List Film -->
